Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# /v2 is the Yii 2 application and has its own front controller.
RewriteCond %{REQUEST_URI} !^/v2

# otherwise forward it to index.php
RewriteRule . index.php
php_value max_input_vars 10000
php_value memory_limit 10240M
